<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'main/images/logo.png' %}" alt="Логотип">
            <h1>Преданные Души</h1>
        </div>
        <nav>
            <div class="menu-toggle" id="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="menu">
                {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'logout' %}" method="post" class="logout-form">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="btn btn-primary">Выйти</button>
                    </form>
                </li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
                {% endif %}
                <li><a href="{% url 'index' %}">О нас</a></li>
                <li><a href="{% url 'news' %}">Новости</a></li>
                <li><a href="{% url 'animals' %}">Наши животные</a></li>
                <li><a href="{% url 'topic-list' %}">Форум</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#" class="donate-button">Пожертвовать</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Контакты</h2>
            <p>Свяжитесь с нами для вопросов, предложений или помощи.</p>
        </section>

        <section class="contacts">
            <div class="contacts-block">
                <h3>Реквизиты Благотворительного Фонда "Преданные Души"</h3>
                <p>
                    ПАО Сбербанк<br>
                    <strong>Карта Сбербанка:</strong> 5336 6902 6528 6270 (Татьяна Владимировна В)<br>
                    <strong>Р/С:</strong> 40703810056000003291<br>
                    <strong>ИНН:</strong> 6434015748<br>
                    <strong>БИК:</strong> 043601607<br>
                    <strong>КПП:</strong> 643401001
                </p>
                <p>По всем вопросам касательно животных и предложения новостей писать: fond_dobrye_dyshi@gmail.com</p>
            </div>
        </section>
    </main>
    {% comment %} <script src="{% static 'main/js/index.js' %}"></script> {% endcomment %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuToggle = document.getElementById('menu-toggle');
            const menu = document.querySelector('.menu');
          
            menuToggle.addEventListener('click', () => {
              menu.classList.toggle('active');
            });
        });
    </script>
</body>

</html>
