/* container.css */
.container_text {
    background: linear-gradient(0deg, #e0faf9, #00796b);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    color: white;
    font-size: 1.1em;
    line-height: 1.5;
    max-width: 800px;
    margin: 20px auto;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  